<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>订单详情</title>
    <link rel="stylesheet" href="../css/order.css">
    <link rel="stylesheet" href="../font/iconfont.css">
    <link rel="stylesheet" href="../bootstrap/css/bootstrap.css">
</head>
<body>
<!--页头-->
<header>
    <!--LOGO-->
    <img src="../images/logoB.png" alt="" id="logoW">
    <!--导航-->
    <nav>
        <ul>
            <li class="navLi1" id="shop"><a href="#">商店</a></li>
            <li><a href="#" id="community">社区</a></li>
            <li><a href="#" id="support">支持</a></li>
        </ul>
        <span class="navSpan1"><a href="/login">我的账户</a></span>
        <span><a href="/buycar">购物车</a></span>
        <span class="iconfont" id="navSpan2">&#xe69b;</span>
        <input type="text" placeholder="SEARCH" id="searchIn">
        <div id="navMoveSd"></div>
    </nav>
    <!--商店导航DIV-->
    <div id="shopD">
        <div class="smallImgD smallImgD1">
            <img src="../images/index/snow.jpg" alt="" class="smallImg">
            <ul>
                <li>
                    <a href="skill.html">滑雪</a>
                </li>
                <hr>
                <li>
                    <a href="hXue.html#huaXueTouKui">头盔</a>
                </li>
                <li>
                    <a href="hXue.html#huaXueYanJing">眼镜</a>
                </li>
                <li>
                    <a href="hXue.html#huaXueFu">滑雪服</a>
                </li>
                <li>
                    <a href="hXue.html#huaXueXie">滑雪鞋</a>
                </li>
                <li>
                    <a href="hXue.html#huaXueBan">滑板</a>
                </li>
            </ul>
        </div>
        <div class="smallImgD">
            <img src="../images/index/panyan.jpg" alt="" class="smallImg">
            <ul>
                <li>
                    <a href="climb.html">攀岩</a>
                </li>
                <hr>
                <li>
                    <a href="pYan.html#panYanMao">攀岩帽</a>
                </li>
                <li>
                    <a href="pYan.html#panYanSuo">安全锁</a>
                </li>
                <li>
                    <a href="pYan.html#panYanDai">安全带</a>
                </li>
                <li>
                    <a href="pYan.html#panYanXie">攀岩鞋</a>
                </li>
                <li>
                    <a href="pYan.html#panYanSheng">攀岩绳</a>
                </li>
            </ul>
        </div>
        <div class="smallImgD">
            <img src="../images/index/dengshan.jpg" alt="" class="smallImg">
            <ul>
                <li>
                    <a href="moutain.html">登山</a>
                </li>
                <hr>
                <li>
                    <a href="dShan.html#dengShanBao">登山包</a>
                </li>
                <li>
                    <a href="dShan.html#dengShanZhang">登山杖</a>
                </li>
                <li>
                    <a href="dShan.html#dengShanXie">登山鞋</a>
                </li>
                <li>
                    <a href="dShan.html#dengShanHuXi">护膝</a>
                </li>
                <li>
                    <a href="dShan.html#dengShanShouTao">手套</a>
                </li>
            </ul>
        </div>
        <div class="smallImgD">
            <img src="../images/index/tubu.jpg" alt="" class="smallImg">
            <ul>
                <li>
                    <a href="hike.html">徒步旅行</a>
                </li>
                <hr>
                <li>
                    <a href="onFoot.html#tuBuYi">上衣</a>
                </li>
                <li>
                    <a href="onFoot.html#tuBuKu">裤子</a>
                </li>
                <li>
                    <a href="onFoot.html#tuBuMao">帽子</a>
                </li>
                <li>
                    <a href="onFoot.html#tuBuBao">背包</a>
                </li>
            </ul>
        </div>
        <div class="smallImgD">
            <img src="../images/index/gaoshan.jpg" alt="" class="smallImg">
            <ul>
                <li>
                    <a href="run.html">高山跑步</a>
                </li>
                <hr>
                <li>
                    <a href="pBu.html#paoBuFu">运动服</a>
                </li>
                <li>
                    <a href="pBu.html#paoBuBao">腰包</a>
                </li>
                <li>
                    <a href="pBu.html#paoBuDai">发带</a>
                </li>
                <li>
                    <a href="pBu.html#paoBuXie">跑鞋</a>
                </li>

            </ul>
        </div>
    </div>
    <div id="communityD">
        <div class="midD midD1">
            <img src="../images/index/Community_Images.jpg" alt="" class="communityImg">
            <br>
            <p><a href="404.html">关于极道</a></p>
        </div>
        <div class="midD">
            <img src="../images/index/Community_Images2.jpg" alt="" class="communityImg">
            <br>
            <p><a href="Blog.html">博客</a></p>
        </div>
        <div class="midD">
            <img src="../images/index/Community_Images3.jpg" alt="" class="communityImg">
            <br>
            <p><a href="activitiy.html">活动</a></p>
        </div>
        <div class="midD">
            <img src="../images/index/Community_Images4.jpg" alt="" class="communityImg">
            <br>
            <p><a href="person.html">运动员</a></p>
        </div>
        <div class="midD">
            <img src="../images/index/Community_Images5.jpg" alt="" class="communityImg">
            <br>
            <p><a href="friend.html">伙伴</a></p>
        </div>
    </div>
    <div id="supportD">
        <div class="bigD">
            <img src="../images/index/Support_Image.jpg" alt="">
            <ul>
                <li><a href="retures.html">退货换货</a></li>
                <li><a href="Repair.html">保修和维护</a></li>
                <li><a href="service.html">服务中心</a></li>
                <li><a href="privateOrder.html">私人订制</a></li>
                <li><a href="storeMap.html">门店地图</a></li>
            </ul>
        </div>
    </div>
</header>
<!--版块1-->
<section>
    <div id="leftD">
        <h1>订单详情</h1>
        <ul id="leftU">
            <li>订单号:</li>
            <li>购买人:</li>
            <li>联系电话:</li>

            <li>地址:</li>
            <li>合计:</li>
        </ul>
        <ul id="rightU">
            <li id="orderN"></li>
            <li id="name"><%=a_g[0][0].userName%></li>
            <li id="phone"><%=a_g[0][0].phoneName%></li>
            <li id="addr"><%=a_g[0][0].userAddress1%></li>
            <li id="monLi">700.00元</li>
        </ul>
        <p id="choseP" data-toggle="modal" data-target="#choseModal">选择地址</p>
    </div>
    <div id="rightD">
        <table rules="rows">
            <thead>
            <tr>
                <th class="firstT">商品</th>
                <th class="secondT">颜色</th>
                <th class="threeT">尺寸</th>
                <th class="fourT">数量</th>
                <th class="fiveT">价格</th>
            </tr>
            </thead>
            <tbody>
            <% for(var j=0;j<a_g[1].length;j++){%>
            <tr>

                <td>
                    <img src="<%=a_g[1][j].goodsImageSrc%>" alt="">
                    <p><%a_g[1][j].goodsName%></p>
                </td>
                <td><p><%=a_g[1][j].goodsColor%></p></td>
                <td>
                    <p><%=a_g[1][j].goodsSize%></p>
                </td>
                <td>1</td>
                <td>
                    <span class="mon"><%=a_g[1][j].goodsPrice%>.00 元</span>
                </td>
            </tr>
            <%}%>
            </tbody>
        </table>
    </div>
    <button type="button" class=" butHoverCss buttonD" data-toggle="modal" data-target="#myModal"  id="buy">确认购买</button>


    <a href="buycar.html"><button class="butHoverCss buttonD">返回购物车</button></a>
</section>

<!--页尾-->
<footer>
    <img src="../images/index/foot1.png" alt="" id="backHead">
    <div class="ulD ulD1">
        <h6>商店</h6>
        <ul>
            <li><a href="skill.html">滑雪</a></li>
            <li><a href="climb.html">攀岩</a></li>
            <li><a href="moutain.html">登山</a></li>
            <li><a href="hike.html">徒步旅行</a></li>
            <li><a href="run.html">高山跑步</a></li>
        </ul>
    </div>
    <div class="ulD">
        <h6>社区</h6>
        <ul>
            <li><a href="404.html">关于极道</a></li>
            <li><a href="Blog.html">博客</a></li>
            <li><a href="activitiy.html">活动</a></li>
            <li><a href="person.html">运动员</a></li>
            <li><a href="friend.html">伙伴</a></li>
        </ul>
    </div>
    <div class="ulD">
        <h6>支持</h6>
        <ul>
            <li><a href="Repair.html">保修和维护</a></li>
            <li><a href="service.html">服务中心</a></li>
            <li><a href="privateOrder.html">私人订制</a></li>
            <li><a href="storeMap.html">门店地图</a></li>
            <li><a href="question.html">常见问题</a></li>
        </ul>
    </div>
    <div class="ulD">
        <h6>联系</h6>
        <p>POLEWAY CHINA，Inc
            3550 Frontier Avenue Unit E
            Boulder，Colorado 80301 USA
            303-998-2895</p>
        <span class="iconfont">&#xe62a;</span>
        <span class="iconfont">&#xeef9;</span>
        <span class="iconfont">&#xe62c;</span>
    </div>
    <div id="lastD">
        <ul>
            <li><a href="404.html">资源库</a></li>
            <li><a href="404.html">专业计划</a></li>
            <li><a href="404.html">专业申请</a></li>
            <li><a href="404.html">送货政策</a></li>
            <li><a href="404.html">隐私政策</a></li>
            <li><a href="404.html">使用条款</a></li>
            <li><a href="404.html">网站地图</a></li>
        </ul>
        <p>&copy; 2018 POLEWAY CN, Inc. All rights reserved.</p>
        <img src="../images/logoW.png" alt="">
    </div>
</footer>

<!--确认模态框-->
<div class="modal fade" id="myModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content sure">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <h3>购买成功</h3>
            </div>


            <a href="accountOrder.html"><button type="button" class="buttonD butHoverCss" id="buttonD3" >我的订单</button></a>

        </div>
    </div>
</div>

<!--选择地址模态框-->
<div class="modal fade" id="choseModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel">
    <div class="modal-dialog" role="document">
        <div class="modal-content chose">
            <div class="modal-header">
                <h4>选择地址</h4>
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>

            </div>
            <div class="modal-body">
                <table>
                    <tr>
                        <th>选择</th>
                        <th>姓名</th>
                        <th>联系电话</th>
                        <th>地址</th>
                    </tr>
                    <%for(var i=0;i<a_g[0].length;i++){%>
                    <tr>
                      <td><input type="radio" name="bor"></td>
                      <td><%=a_g[0][i].userName%></td>
                      <td><%=a_g[0][i].phoneName%></td>
                      <td><%=a_g[0][i].userAddress1%></td>
                    </tr>
                    <%}%>
                </table>
            </div>

            <button type="button" class="buttonD butHoverCss" id="buttonD4" aria-label="Close" aria-hidden="true" data-dismiss="modal">确认选择</button>

        </div>
    </div>
</div>

<script src="../jquery/jquery-3.1.1.js"></script>
<script src="../bootstrap/js/bootstrap.js"></script>
<script src="../js/order.js"></script>
</body>
</html>